@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  font-family: 'VT323', monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  padding: 10px;
  width: 2000px;
  background-color: grey;
}

.infoBar {
  margin: 20px auto;
  background-color: black;
}

.infoText {
  text-align: center;
  font-size: 30px;
  width: 600px;
  height: 50px;
  line-height: 50px;
  color: greenyellow;
  background-color: black;
  border-radius: 5px;
}

.upperSection {
  flex-grow: 6;
  display: flex;
  flex-direction: row;
}

.lowerSection {
  text-align: center;
}

.buttonContainer {
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  width: 500px;
  margin: 50px auto;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px solid green; */
  width: 600px;
  height: 600px;
  margin: 5px;
  border-radius: 100px;
}

#grid2 {
  background-image: url('./images/radarBackground.png');
  background-size: cover;
}

.zAxisOff {
  position: absolute;
  z-index: -2;
  background-color: transparent;
  width: 600px;
  height: 600px;
  border: 4px solid red;
}

.zAxisOn {
  z-index: 1;
}

.cell {
  /* border: 1px solid green; */
  /* background-color: rgb(78, 202, 243); */
  background-image: url('./images/seaTile1.png');
  background-size: cover;
  /* z-index: -1; */
  font-size: 11px;
}

.blackCell {
  background-color: black;
  opacity: 0.7;
  border: 1px dotted lime;
}

.ship {
  /* background-color: grey; */
  background-image: none;
}

/* .ship:hover {
  background-color: rgb(218, 218, 218);
} */

aside {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.leftAside, .rightAside {
  background-color: navy;
  color: limegreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  border-radius: 3px;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: green;
  margin: 10px;
  margin-bottom: 30px;
}

.shipListTitle {
  text-align: center;
  font-size: 25px;
  margin: 5px;
}

.lives {
  background-color: black;
  width: 180px;
  height: 400px;
}

.shipList {
  margin: 10px;
}

.itemShip {
  margin-top: 10px;
}

.submarineOut1, .submarineOut2 {
  height: 30px;
  width: 90px;
  background-image: url('./images/submarineOutlineGreen.png');
  background-size: 100%;
}

.patrolBoatOut1, .patrolBoatOut2 {
  height: 30px;
  width: 60px;
  background-image: url('./images/patrolBoatOutlineGreen.png');
  background-size: 100%;
}

.destroyerOut1, .destroyerOut2 {
  height: 30px;
  width: 90px;
  background-image: url('./images/destroyerOutlineGreen.png');
  background-size: cover;
}

.battleshipOut1, .battleshipOut2 {
  height: 30px;
  width: 120px;
  background-image: url('./images/battleshipOutlineGreen.png');
  background-size: cover;
}

.carrierOut1, .carrierOut2 {
  height: 30px;
  width: 150px;
  background-image: url('./images/battleshipOutlineGreen.png');
  background-size: cover;
}

/* ------------------------------------------------------------------ */

.patrolBoatRed {
  height: 30px;
  width: 60px;
  background-image: url('./images/patrolBoatOutlineRed.png');
  background-size: 100%;
}

.submarineRed {
  height: 30px;
  width: 90px;
  background-image: url('./images/submarineOutlineRed.png');
  background-size: 100%;
}

.destroyerRed {
  height: 30px;
  width: 90px;
  background-image: url('./images/destroyerOutlineRed.png');
  background-size: cover;
}

.battleshipRed {
  height: 30px;
  width: 120px;
  background-image: url('./images/battleshipOutlineRed.png');
  background-size: 100%;
}

.carrierRed {
  height: 30px;
  width: 150px;
  background-image: url('./images/carrierOutlineRed.png');
  background-size: 100%;
}

.red {
  color: red;
}

.patrolBoat1 {
  background-image: url('./images/patrolBoat1.png');
  background-size: cover;
}
.patrolBoat2 {
  background-image: url('./images/patrolBoat2.png');
  background-size: cover;
}

.submarine1 {
  background-image: url('./images/submarine1.png');
  background-size: cover;
}
.submarine2 {
  background-image: url('./images/submarine2.png');
  background-size: cover;
}
.submarine3 {
  background-image: url('./images/submarine3.png');
  background-size: cover;
}

.destroyer1 {
  background-image: url('./images/destroyer1.png');
  background-size: cover;
}
.destroyer2 {
  background-image: url('./images/destroyer2.png');
  background-size: cover;
}
.destroyer3 {
  background-image: url('./images/destroyer3.png');
  background-size: cover;
}

.battleship1 {
  background-image: url('./images/battleship1.png');
  background-size: cover;
}
.battleship2 {
  background-image: url('./images/battleship2.png');
  background-size: cover;
}
.battleship3 {
  background-image: url('./images/battleship3.png');
  background-size: cover;
}
.battleship4 {
  background-image: url('./images/battleship4.png');
  background-size: cover;
}

.rotate {
  transform: rotate(90deg);
  background-size: cover;
}

.hover:hover {
  opacity: 0.5;
  background-color: greenyellow;
}

/* .shipHover:hover {
  opacity: 0.5;
  background-color: grey;
} */

.shipHoverExt {
  opacity: 0.4;
  background-color: limegreen;
}

.hit {
  background-color: orange;
  background-image: none;
}

.miss {
  background-color: rgb(111, 186, 199);
  background-image: url('./images/missTile1.png');
  background-size: cover;
}
