@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  font-family: 'VT323', monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  padding: 10px;
  width: 2000px;
  background-color: grey;
  border-radius: 10px;
  /* z-index: -2; */
}

.infoBar {
  margin: 20px auto;
  background-color: black;
}

.infoText {
  text-align: center;
  font-size: 30px;
  width: 600px;
  height: 50px;
  line-height: 50px;
  color: lime;
  background-color: black;
  border-radius: 5px;
}


.infoText2 {
  margin-top: 10px;
  width: 800px;
}


.upperSection {
  flex-grow: 6;
  display: flex;
  flex-direction: row;
}

.middleSection {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.boardNames {
  text-align: center;
  background: black;
  color: lime;
  font-size: 17px;
  width: 200px;
  padding: 5px;
  border-radius: 2px;
  margin: 0px 210px;
}

.lowerSection {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.leftButtons, .rightButtons {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  align-items: center;
  /* background: white; */
  border: 3px solid grey;
  border-radius: 15px;
  text-align: left;
  font-size: 34px;
  width: 500px;
  margin: 10px auto;
}

.buttonText {
  width: 500px;
  height: 50px;
  background: rgb(252, 255, 237);
  margin-left: 75px;
  border-radius: 6px;
  padding-left: 20px;
  padding-top: 7px;
}

button {
  background: rgb(158, 0, 0);
  border: 2px solid grey;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px solid green; */
  background-color: white;
  width: 600px;
  height: 600px;
  margin: 5px;
}

#grid2 {
  background: transparent;
  z-index: 2;
  /* background-color: black; */
  /* background-image: url('./images/radarBackground.png'); */
  /* background-image: url('./images/radar2.png');
  background-size: cover;
  border-radius: 50px; */
  /* opacity: 0.7; */
  /* animation: rotation 2s infinite linear; */
}

#grid2Background {
  position: absolute;
  width: 600px;
  height: 600px;
  background-image: url('./images/radar2.png');
  background-size: cover;
  border-radius: 300px;
  z-index: -1;
  animation: rotation 15s infinite linear;
}

#grid2Background2 {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: rgb(6, 1, 102);
  border-radius: 50px;
  z-index: -2;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.zAxisOff {
  position: absolute;
  z-index: -2;
  background-color: transparent;
  width: 600px;
  height: 600px;
  border: 4px solid red;
}

.zAxisOn {
  z-index: 3;
}

.cell {
  /* border: 1px solid green; */
  /* background-color: rgb(78, 202, 243); */
  background-image: url('./images/seaTile1.png');
  background-size: cover;
  /* z-index: -1; */
  font-size: 11px;
}

.blackCell {
  /* background-color: rgb(9, 3, 122); */
  /* background-color: black; */
  /* opacity: 0.7; */
  border: 1px dotted lime;
}

.radarMiss {
  /* background-color: rgb(11, 0, 255); */
  background-color:rgb(11, 0, 255);
  background: transparent;
  background-image: url('./images/radarMiss.png');
  background-size: cover;
  opacity: none;
}

.radarHit {
  /* background-color: rgb(11, 0, 255); */
  background: transparent;
  background-image: url('./images/radarHit.png');
  background-size: cover;
  opacity: 1;
}

.ship {
  /* background-color: grey; */
  background-image: none;
}

/* .ship:hover {
  background-color: rgb(218, 218, 218);
} */

aside {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.leftAside, .rightAside {
  background-color: navy;
  color: lime;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  border-radius: 3px;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  /* background-color: green; */
  margin: 10px;
  margin-bottom: 30px;
  background-image: url('./images/turnOffLight.png');
  background-size: cover;
}

.lightOn {
  background-image: url('./images/turnOnLight.png')
}

.shipListTitle {
  text-align: center;
  font-size: 25px;
  margin: 5px;
}

.lives {
  background-color: black;
  width: 180px;
  height: 400px;
}

.shipList {
  margin: 10px;
}

.livesNum {
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

.itemShip {
  margin-top: 10px;
}

.submarineOut1, .submarineOut2 {
  height: 30px;
  width: 90px;
  background-image: url('./images/submarineOutlineGreen.png');
  background-size: 100%;
}

.patrolBoatOut1, .patrolBoatOut2 {
  height: 30px;
  width: 60px;
  background-image: url('./images/patrolBoatOutlineGreen.png');
  background-size: 100%;
}

.destroyerOut1, .destroyerOut2 {
  height: 30px;
  width: 90px;
  background-image: url('./images/destroyerOutlineGreen.png');
  background-size: cover;
}

.battleshipOut1, .battleshipOut2 {
  height: 30px;
  width: 120px;
  background-image: url('./images/battleshipOutlineGreen.png');
  background-size: cover;
}

.carrierOut1, .carrierOut2 {
  height: 30px;
  width: 150px;
  background-image: url('./images/carrierOutlineGreen.png');
  background-size: cover;
}

/* ------------------------------------------------------------------ */

.patrolBoatRed {
  height: 30px;
  width: 60px;
  background-image: url('./images/patrolBoatOutlineRed.png');
  background-size: 100%;
}

.submarineRed {
  height: 30px;
  width: 90px;
  background-image: url('./images/submarineOutlineRed.png');
  background-size: 100%;
}

.destroyerRed {
  height: 30px;
  width: 90px;
  background-image: url('./images/destroyerOutlineRed.png');
  background-size: cover;
}

.battleshipRed {
  height: 30px;
  width: 120px;
  background-image: url('./images/battleshipOutlineRed.png');
  background-size: 100%;
}

.carrierRed {
  height: 30px;
  width: 150px;
  background-image: url('./images/carrierOutlineRed.png');
  background-size: 100%;
}

.red {
  color: red;
}

.patrolBoat1 {
  background-image: url('./images/patrolBoat1.png');
  background-size: cover;
}
.patrolBoat2 {
  background-image: url('./images/patrolBoat2.png');
  background-size: cover;
}

.submarine1 {
  background-image: url('./images/submarine1.png');
  background-size: cover;
}
.submarine2 {
  background-image: url('./images/submarine2.png');
  background-size: cover;
}
.submarine3 {
  background-image: url('./images/submarine3.png');
  background-size: cover;
}

.destroyer1 {
  background-image: url('./images/destroyer1.png');
  background-size: cover;
}
.destroyer2 {
  background-image: url('./images/destroyer2.png');
  background-size: cover;
}
.destroyer3 {
  background-image: url('./images/destroyer3.png');
  background-size: cover;
}

.battleship1 {
  background-image: url('./images/battleship1.png');
  background-size: cover;
}
.battleship2 {
  background-image: url('./images/battleship2.png');
  background-size: cover;
}
.battleship3 {
  background-image: url('./images/battleship3.png');
  background-size: cover;
}
.battleship4 {
  background-image: url('./images/battleship4.png');
  background-size: cover;
}
.carrier1 {
  background-image: url('./images/carrier1.png');
  background-size: cover;
}
.carrier2 {
  background-image: url('./images/carrier2.png');
  background-size: cover;
}
.carrier3 {
  background-image: url('./images/carrier3.png');
  background-size: cover;
}
.carrier4 {
  background-image: url('./images/carrier4.png');
  background-size: cover;
}
.carrier5 {
  background-image: url('./images/carrier5.png');
  background-size: cover;
}

.rotate {
  transform: rotate(90deg);
  background-size: cover;
}

.hover:hover {
  opacity: 0.5;
  background-color: greenyellow;
}

/* .shipHover:hover {
  opacity: 0.5;
  background-color: grey;
} */

.shipHoverExt {
  opacity: 0.4;
  background-color: lime;
  transition: 200ms;
}

.hit {
  /* background-color: orange; */
  width: 60px;
  height: 60px;
  background-image: url('./images/hit.png');
  background-size: cover;
  z-index: 2;
}

.miss {
  background-color: rgb(111, 186, 199);
  background-image: url('./images/missTile1.png');
  background-size: cover;
}
