* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
}

section {
  flex-grow: 6;
  display: flex;
  flex-direction: row;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px solid green; */
  width: 600px;
  height: 600px;
  margin: 50px;
}

.zAxisOff {
  position: absolute;
  z-index: -2;
  background-color: transparent;
  width: 600px;
  height: 600px;
  border: 4px solid red;
}

.zAxisOn {
  z-index: 1;
}

.cell {
  /* border: 1px solid green; */
  /* background-color: rgb(78, 202, 243); */
  background-image: url('./images/waterTile2.png');
  background-size: cover;
  /* z-index: -1; */
  font-size: 11px;
}

.ship {
  background-color: grey;
  background-image: none;
}

/* .ship:hover {
  background-color: rgb(218, 218, 218);
} */

aside {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.leftAside {
  background-color: teal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.lives {
  background-color: tomato;
  width: 180px;
  height: 400px;
}

.rotateButton {
  justify-content: center;
  align-content: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

.nextTurnButton {
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}

.hover:hover {
  opacity: 0.5;
  background-color: greenyellow;
}

.hit {
  background-color: orange;
  background-image: none;
}

.miss {
  background-color: rgb(111, 186, 199);
  background-image: url('./images/missTile2.png');
  background-size: cover;
}

#rotate1 {
  flex-grow: 1;
}

#rotate2 {
  flex-grow: 1;
}
